.category-page__title {
  font-weight: 400;
  font-size: 42px;
  text-transform: capitalize;
}

.category-page__products {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .category-page__products {
    justify-content: flex-start;
  }
}
