@import url("./vars.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  font-family: "Raleway", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: var(--sm);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  color: black;
}

.full-height {
  min-height: calc(100vh - 80px);
}
