.header {
  height: 80px;
  display: grid;
  place-items: center;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  display: none;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: var(--sm);
  flex: 0.4;
}

.header__nav > a {
  text-transform: uppercase;
  font-weight: 400;
  border: none;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  padding: var(--sm);
  text-decoration: none;
  color: var(--color-pale-black);
}

.header__nav > a.active {
  color: var(--color-green);
  font-weight: 600;
  border-bottom: 2px solid var(--color-green);
}

.header__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--sm);
  flex: 0.4;
}

@media (min-width: 768px) {
  .header__nav {
    gap: var(--md);
  }

  .header__nav > a {
    font-size: 16px;
    padding: var(--md);
  }

  .header__buttons {
    gap: var(--md);
  }

  .header__logo {
    display: unset;
  }
}
